<div class="container mt-4">
    <div class="row">
      <div class="col">
          <p class="h3 fw-bold text-primary">
          <i class="fa fa-eye"></i>&nbsp;
              View Contact
          </p>
          <p class="fst-italic">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
            temporibus, odit pariatur velit adipisci exercitationem quis blanditiis!
            Quia eum mollitia cum velit eveniet doloremque provident iusto, quo
            reiciendis consectetur nemo repellendus error eius, libero accusantium
            odit voluptates corporis similique voluptas? Assumenda nemo adipisci ex
            perspiciatis eos fugiat incidunt laborum, ratione tenetur ipsam
            repellendus voluptate aspernatur dolorem reprehenderit rem tempora atque
            impedit reiciendis error. Vel ipsum possimus eveniet, et harum ut magni
            nesciunt accusamus odit voluptate.
          </p>
      </div>
    </div>
  </div>
  <!-- View Contact details -->
  <div class="container">
    <div class="row align-items-center">
        <div class="col-sm-4">
            <img class="contact__img_details" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSkhIltql05digBdfoIvARXSqLDwYOALKS5bdO0HLwSNACwnD0IoXLg-eRGlEl69p5cBy0&usqp=CAU" alt="">
        </div>
        <div class="col-sm-6">
            <ul class="list-group">
                <li class="list-group-item list-group-item-success">
                  Name: <span class="fw-bold">Trump</span>
                </li>
                <li class="list-group-item list-group-item-success">
                  Email: <span class="fw-bold">trump@gmail.com</span>
                </li>
                <li class="list-group-item list-group-item-success">
                  Mobile: <span class="fw-bold">9999999999</span>
                </li>
                <li class="list-group-item list-group-item-success">
                    Title: <span class="fw-bold">Manager</span>
                  </li>
                  <li class="list-group-item list-group-item-success">
                    Group Name: <span class="fw-bold">Family</span>
                  </li>
              </ul>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col">
            <a class="btn btn-warning" routerLink="/">
            <i class="fa fa-arrow-alt-circle-left"></i>&nbsp;
                Go Back
            </a>
        </div>
    </div>
  </div>