<div class="container mt-4">
  <div class="row">
    <div class="col">
      <p class="h3 fw-bold text-primary">
        <i class="fa fa-pen"></i>&nbsp;
        Edit Contact
      </p>
      <p class="fst-italic">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
        temporibus, odit pariatur velit adipisci exercitationem quis blanditiis!
        Quia eum mollitia cum velit eveniet doloremque provident iusto, quo
        reiciendis consectetur nemo repellendus error eius, libero accusantium
        odit voluptates corporis similique voluptas? Assumenda nemo adipisci ex
        perspiciatis eos fugiat incidunt laborum, ratione tenetur ipsam
        repellendus voluptate aspernatur dolorem reprehenderit rem tempora atque
        impedit reiciendis error. Vel ipsum possimus eveniet, et harum ut magni
        nesciunt accusamus odit voluptate.
      </p>
    </div>
  </div>
</div>

<!--Edit Contact Form -->
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <form (submit)="updateContactDetails()">
        <div class="mb-2">
          <input type="text" class="form-control" [(ngModel)]="contact.name" [value]="contact.name" name="name" placeholder="Name" />
        </div>
        <div class="mb-2">
          <input type="text" class="form-control" [(ngModel)]="contact.photo" [value]="contact.photo" name="photo"  placeholder="Photo Url" />
        </div>
        <div class="mb-2">
          <input type="text" class="form-control" [(ngModel)]="contact.email" [value]="contact.email" name="email" placeholder="Email" />
        </div>
        <div class="mb-2">
          <input type="text" class="form-control" [(ngModel)]="contact.mobile" [value]="contact.mobile" name="mobile" placeholder="Mobile No" />
        </div>
        <div class="mb-2">
          <input type="text" class="form-control" [(ngModel)]="contact.company" [value]="contact.company" name="company" placeholder="Company" />
        </div>
        <div class="mb-2">
          <input type="text" class="form-control" [(ngModel)]="contact.title" [value]="contact.title" name="title" placeholder="Title" />
        </div>
        <div class="mb-2">
          <select class="form-control" [(ngModel)]="contact.groupId" [value]="contact.groupId" name="groupId">
            <option value="">Select a Group</option>
            <option [value]="group.id" *ngFor="let group of groups">{{group.name}}</option>
          </select>
        </div>
        <div class="mb-2">
          <button type="sumbit" class="btn btn-primary">Update</button>
          <a routerLink="/" class="btn btn-warning ms-2">Close</a>
        </div>
      </form>
    </div>
    <div class="col-sm-4">
      <img
        class="contact__img"
        [src] = "contact.photo"
        alt=""
      />
    </div>
  </div>
</div>
